<!DOCTYPE html>
<html lang="en">

<head>

    <!-- App global header -->
    {% include 'head.html' %}

     <!-- Custom CSS -->
    <link href="/static/css/round-about.css" rel="stylesheet">
    <title>Round About - Start Bootstrap Template</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="page-header">The SWE Awakens</h1>
                <p>
                  George Lucas’ Star Wars has captivated generations with its expansive storylines, epic scores, and awe-inspiring characters.
                  The series itself has impressed upon society a significant cultural impact with references to the film that are deeply embedded
                  within Western popular culture. The events depicted in the seven films are expansive – spanning millennia, with hundreds of
                  different characters, vehicles and species. However, navigating this expansive behemoth of a  saga has proven more difficult
                  than one would think and is often bogged down ,in the now non-canon, expanded universe. It is for this reason that our group set
                  out to fix that and provide users an easy to navigate site that allows for one to appreciate the deeply linked nature of all the
                  films and allows one to appreciate the subtleties of continuity one might have missed in these works of art.
                </p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-center">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://lh3.googleusercontent.com/hPIKQxlhZmnRyoeRpDg4ljo0ugWZw8WcD6rTFwehXFFcNdmfaEtlPL6ZWiegNoNdoSRRYd9Bh26foeOz9aGYpkxk3J9NkjxvDOuc2LSY9KegUyN3ifJ5dnWE7UHHmNEFvWPKsg=w647-h862-no" alt="">
                <h3>Pushkar Lanka</h3>
                <h4>Backend Master</h4>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                <div class="row">
                  <h5>Number of Commits: X</h5>
                  <h5>Number of Issues: X</h5>
                  <h5>Number of Unit Tests: X</h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://scontent-dft4-2.xx.fbcdn.net/v/t31.0-8/15259191_10211310950635896_4706506816127636019_o.jpg?oh=f8206cbbfa1f667c39e0f422cb62aa72&oe=5967E808" alt="">
                <h3>Adam Estrin</h3>
                <h4>Front-End Lead</h4>
                <p>Studying Computer Science. Love EDM and working on music side projects.</p>
                <div class="row">
                  <h5>Number of Commits: X</h5>
                  <h5>Number of Issues: X</h5>
                  <h5>Number of Unit Tests: X</h5>
                  <br>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://raw.githubusercontent.com/samweis/samweis.github.io/master/images/profilepic.jpg" alt="">
                <h3>Sam Weismuller</h3>
                <h4>React Lead</h4>
                <p>Programming God from Houston, TX. I like long walks on the beach.</p>
                <div class="row">
                  <h5>Number of Commits: X</h5>
                  <h5>Number of Issues: X</h5>
                  <h5>Number of Unit Tests: X</h5>
                  <br>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://scontent-dft4-2.xx.fbcdn.net/v/t31.0-8/14124513_10209331419354906_2573575169530812498_o.jpg?oh=f911a0b55fbf47fea4721407af0b759b&oe=5958E9A9" alt="">
                <h3>Arjun Bajaj</h3>
                <h4>Backend Padawan</h4>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                <div class="row">
                  <h5>Number of Commits: X</h5>
                  <h5>Number of Issues: X</h5>
                  <h5>Number of Unit Tests: X</h5>
                  <br>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Hongzhou Liu</h3>
                <h4>Role</h4>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                <div class="row">
                  <h5>Number of Commits: X</h5>
                  <h5>Number of Issues: X</h5>
                  <h5>Number of Unit Tests: X</h5>
                  <br>
                </div>
            </div>
        </div>

        <div class="row text-center">
          <h1 class="page-header">About the Project</h1>
          <div class="col-lg-4">
            <h3>GitHub Stats</h3>
            <br>
            <h5>Total number of commits: X</h5>
            <h5>Total number of issues: X</h5>
            <h5>Total number of unit tests: X</h5>
          </div>
          <div class="col-lg-4">
            <h3>Links</h3>
            <br>
            <a href="http://docs.thesweawakens.apiary.io"><p>Apiary API</p></a>
            <a href="https://github.com/aestrin/idb/issues"><p>GitHub Issue Tracker</p></a>
            <a href="https://github.com/aestrin/idb"><p>GitHub Repo</p></a>
          </div>
          <div class="col-lg-4">
            <h3>Data</h3>
            <br>
            <a href="https://swapi.co/"><p>Swapi - The Starwars API</p></a>
          </div>
        </div>

        <div class="row text-center">

            <h3>Tools</h3>
            <hr>
            <br>

            <div class="col-lg-4 col-sm-6 text-center">
              <h5>Flask</h5>
              <p>description</p>
            </div>


            <div class="col-lg-4 col-sm-6 text-center">
              <h5>React</h5>
              <p>description</p>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
              <h5>Slack</h5>
              <p>description</p>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
              <h5>GitHub</h5>
              <p>description</p>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
              <h5>Amazon Web Services</h5>
              <p>description</p>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
              <h5>Apiary</h5>
              <p>description</p>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
              <h5>Bootstrap</h5>
              <p>description</p>
            </div>

          </div>

          <div class="row text-center">
            <a href="{{ url_for('report') }}">Report</a>
          </div>


          {% include 'footer.html' %}

    </div>

</body>

</html>
