<!DOCTYPE html>
<html lang="en">

<head>

    <!-- App global header -->
    {% include 'head.html' %}

    <title>Star Wars - Characters</title>

</head>



<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Characters</h1>
            </div>
        </div>

        <!-- Sort Bar -->

        <div class="row">

            <h3>Sort:
                <a href="#" onclick="sortBy('name', character_list)">Name</a>
                <a href="#" onclick="sortBy('birth_year', character_list)">Birth Year</a>
                <a href="#" onclick="sortBy('height', character_list)">Height</a>
                <a href="#" onclick="sortBy('mass', character_list)">Weight</a>
                <a><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <a><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
            </h3>
            <hr />
        </div>


        <!-- /.row -->
        <div class = "row">
            <div class ="col-lg-12">
                    <div id="grid_location"> </div>
            </div>
        </div>

        {#TODO: create common stylesheet for img style width and height#}

        {% include 'footer.html' %}
    </div>


    <script type="text/jsx">

        var i;
        var x;
        var s;

        {% include 'sorting.jsx' %}
        {% include 'table_builder.jsx' %}

        function buildModels(list, init)
        {
            var chars = [];
            for(i = 0; i < list.length; i++)
            {
                if(init)
                {
                    list[i].id = i;
                }
                chars.push(<Character character={list[i]} />);
            }
            return chars
        }

        function Character(props){
            return (<div style={s = {padding: '20px', height: '100%',}}><div className = {"panel panel-default"} style={s = {height: '100%',}}><div className = {"panel-content"}>

                        <a href={"#"}>
                            <img className={"img-responsive"} src={props.character.img_url} alt={""} style={panelPicStyle} />
                        </a>

                        <a href={"/characters/"+props.character.id}><h2 className={"text-center"}>{props.character.name}</h2></a>
                        <hr />
                        <ul>
                            <li>Birth year: {props.character.birth_year}</li>
                            <li>Height: {props.character.height}</li>
                            <li>Weight: {props.character.mass}</li>
                            <li>Planets:
                                <RefList list = {props.character.planets} reftype="planets" />
                            </li>
                            <li>Films:
                                <RefList list = {props.character.films} reftype="films" />
                            </li>
                        </ul>

                </div></div></div>)
        }

        var character_list = JSON.parse({{characters | tojson}});

        console.log(character_list);

        renderTable(buildModels(character_list, true), document.getElementById("grid_location"), 2);



    </script>

</body>

</html>
