<!DOCTYPE html>
<html lang="en">

<head>

    <!-- App global header -->
    {% include 'head.html' %}

    <title>Star Wars - Characters</title>

</head>



<body>
    <script type="text/jsx">
        dir = 1;

        function setDir(newdir)
        {
            dir = newdir;
        }

        function sortBy(attr)
        {
            // sort
            var cmp = function(a, b) {
                return dir * (a[attr] - b[attr]);
            };
            
            character_list.sort(cmp);

            // update element
            document.getElementById("char_list").innerHTML="";

            var chars = [];
            for(i = 0; i < character_list.length; i++)
            {
                chars.push(<Character character={character_list[i]} />);
            }

            renderTable(chars, document.getElementById("char_list"), 2);
        }
    </script>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Characters</h1>
            </div>
        </div>
        <!-- /.row -->
        <div class = "row">
            <div class ="col-lg-12">
                    <div id="char_list"> </div>
                    <button onclick="sortBy('height', 1)"> Click ME! </button>
            </div>
        </div>

        {#TODO: create common stylesheet for img style width and height#}

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>

    <script src="static/table_builder.jsx" type="text/jsx"> </script>

    <script type="text/jsx">
        function Character(props){
            return (<div style={s = {padding: '20px', height: '100%',}}><div className = {"panel panel-default"} style={s = {height: '100%',}}><div className = {"panel-content"}>
                    
                        <a href={"#"}>
                            <img className={"img-responsive"} src={props.character.img_url} alt={""} style={panelPicStyle} />
                        </a>
                    
                        <a href={"/characters/"+props.character.id}><h2 className={"text-center"}>{props.character.name}</h2></a>
                        <hr />
                        <ul>
                            <li>Birth year: {props.character.birth_year}</li>
                            <li>Height: {props.character.height}</li>
                            <li>Weight: {props.character.mass}</li>
                            <li>Planets:
                                <RefList list = {props.character.planets} reftype="planets" />
                            </li>
                            <li>Films:
                                <RefList list = {props.character.films} reftype="films" />
                            </li>
                        </ul>
                            
                </div></div></div>)
        }

        var character_list = JSON.parse({{characters | tojson}});
        
        console.log(character_list);

        var chars = [];
        for(i = 0; i < character_list.length; i++)
        {
            character_list[i].id = i;
            chars.push(<Character character={character_list[i]} />);
        }

        renderTable(chars, document.getElementById("char_list"), 2);



    </script>

    

    

    

</body>

</html>
