<!DOCTYPE html>
<html lang="en">

<head>

    <!-- App global header -->
    {% include 'head.html' %}

    <title>Star Wars - Films</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Films</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Sort Bar -->

        <div class="row">

            <h3>Sort:
                <a href="#" onclick="sortBy('episode_no', film_list)">Episode</a>
                <a href="#" onclick="sortBy('title', film_list)">Title</a>
                <a href="#" onclick="sortBy('director', film_list)">Director</a>
                <a href="#" onclick="sortBy('producer', film_list)">Producer</a>
                <a href="#" onclick="sortBy('release_date', film_list)">Release Date</a>
            </h3>
            <hr />
        </div>


        <div id="grid_location"> </div>

        {#TODO: create common stylesheet for img style width and height#}

        {% include 'footer.html' %}
    </div>
    <!-- /.container -->


    <script type="text/jsx">

        var i;
        var x;
        var s;

        {% include 'sorting.jsx' %}
        {% include 'table_builder.jsx' %}

        function buildModels(list, init)
        {
            var movies = [];
            for(i = 0; i < list.length; i++)
            {
                if(init)
                {
                    list[i].id = i;
                }
                movies.push(<Film film={list[i]} />);
            }
            return movies
        }


        function Film(props){
            return (<div style={s = {padding: '20px', height: '100%',}}><div className = {"panel panel-default"} style={s = {height: '100%',}}><div className = {"panel-content"}>

                        <a href={"#"}>
                            <img className={"img-responsive"} src={props.film.img_url} alt={""} style={panelPicStyle} />
                        </a>

                        <a href={"films/"+props.film.id}><h2 className={"text-center"}>{props.film.title}</h2></a>
                        <h4 className={"text-center"}>Episode {props.film.episode_no}</h4>
                        <hr />
                        <ul>
                            <li>Director: {props.film.director}</li>
                            <li>Producers: {props.film.producer}</li>
                            <li>Release Date: {props.film.release_date}</li>
                            <li>Characters:
                                <RefList list={props.film.characters} reftype={"characters"} />
                            </li>
                                <li>Planets:
                                <RefList list={props.film.planets} reftype={"planets"} />
                            </li>
                        </ul>

                </div></div></div>)
        }

        var film_list = JSON.parse({{films | tojson}});

        console.log(film_list);

        renderTable(buildModels(film_list, true), document.getElementById("grid_location"), 2);

    </script>

</body>

</html>
