<!DOCTYPE html>
<html lang="en">
<head>
    <!-- App global header -->
    {% include 'head.html' %}
    <title>Title</title>
    <link href="/static/css/home-page.css" rel="stylesheet">
</head>
<body>

  <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/6MPJGaBHoOM?controls=0&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <!-- Full Page Image Background Carousel Header -->
   <header id="myCarousel" class="carousel slide">
       <!-- Indicators -->
       <ol class="carousel-indicators">
           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           <li data-target="#myCarousel" data-slide-to="1"></li>
           <li data-target="#myCarousel" data-slide-to="2"></li>
       </ol>

       <!-- Wrapper for Slides -->
       <div class="carousel-inner">
           <div class="item active">
               <div class="carousel-caption">
                  <img src="http://fontmeme.com/permalink/170322/c168ce26c5b7647882314e1288e892a4.png" alt="star-wars-font" border="0">
               </div>
           </div>
           <div class="item">
               <div class="carousel-caption">
                   <img src="http://fontmeme.com/permalink/170323/3bf1ac033a8dc4bf80bb529ec5a34738.png" alt="star-wars-font" border="0">
               </div>
           </div>
           <div class="item">
               <div class="carousel-caption">
                   <img src="http://fontmeme.com/permalink/170323/f67fc646a2fcf087f4fbdd73d897699f.png" alt="star-wars-font" border="0">
               </div>
           </div>
       </div>

       <!-- Controls -->
       <a class="left carousel-control" href="#myCarousel" data-slide="prev">
           <span class="icon-prev"></span>
       </a>
       <a class="right carousel-control" href="#myCarousel" data-slide="next">
           <span class="icon-next"></span>
       </a>

   </header>

</body>
</html>
