<!DOCTYPE html>
<html lang="en">

<head>

    <!-- App global header -->
    {% include 'head.html' %}

    <title>Star Wars - Planets</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Planets</h1>
            </div>
        </div>
        <!-- /.row -->


        <div id="planet_list"> </div>

        {#TODO: create common stylesheet for img style width and height#}

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->


    <script src="static/table_builder.jsx" type="text/jsx"> </script>
    
    <script type="text/jsx">

        function Planet(props){
        return (<div style={s = {padding: '20px', height: '100%',}}><div className = {"panel panel-default"} style={s = {height: '100%',}}><div className = {"panel-content"}>
                
                    <a href={"#"}>
                        <img className={"img-responsive"} src={props.planet.img_url} alt={""} style={panelPicStyle} />
                    </a>

                    <a href={"/planets/"+props.id}><h2 className={"text-center"}>{props.planet.name}</h2></a>
                    <hr />
                    <ul>
                      <li>Climate: {props.planet.climate} </li>
                      <li>Population: {props.planet.population}</li>
                      <li>Gravity: {props.planet.gravity}</li>
                      <li>Terrain: {props.planet.terrain}</li>
                      <li>Residents:
                        <RefList list={props.planet.characters} reftype={"characters"} />
                      </li>
                      <li>Films:
                        <RefList list={props.planet.films} reftype={"films"} />
                      </li>
                    </ul>


            </div></div></div>)
        }

        var planet_list = JSON.parse({{planets | tojson}});
        
        console.log(planet_list);

        var planets = [];
        for(i = 0; i < planet_list.length; i++)
        {
            planets.push(<Planet planet={planet_list[i]} id={i}/>);
        }

        renderTable(planets, document.getElementById("planet_list"), 2);
        

    </script>

</body>

</html>
