<!DOCTYPE html>
<html lang="en">

<head>

    <!-- App global header -->
    {% include 'head.html' %}

    <title>Star Wars - {{ character.name }}</title>

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">{{ character.name }}</h1>
                <hr>
            </div>
        </div>

        <!-- Project One -->
        <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="{{ character.img_url }}" alt="">
            </div>
            <div class="col-md-8">
                <ul class="lists">
                    <li class="instance-font">Birth year: {{ character.birth_year }}</li>
                    <li class="instance-font">Gender: {{ character.gender }}</li>
                    <li class="instance-font">Height: {{ character.height }}</li>
                    <li class="instance-font">Weight: {{ character.mass }}</li>
                    <li class="instance-font">Home world: <a href="{{ url_for('planet', planet_id=character.planet.id) }}">{{ character.planet.name }}</a></li>
                    <li class="instance-font"><a data-toggle="collapse" href="#collapse1">Films <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                    <div id="collapse1" class="panel-collapse collapse">
                      <ul>
                          {% for f in character.films %}
                              <li class="instance-font"><a href="{{ url_for('film', film_id=f.id) }}">{{ f.title }}</a></li>
                          {% endfor %}
                      </ul>
                    </div>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

          {% include 'footer.html' %}
        </div>
      </div>
    </div>
    <!-- /.container -->

</body>

</html>
