<!DOCTYPE html>
<html lang="en">

<head>

    <!-- App global header -->
    {% include 'head.html' %}

    <title>Star Wars - Films</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Films</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Sort Bar -->

        <div class="row">
          <div class="col-lg-12">
            <h4>Sort:
                <a href="#" onclick="sortBy('episode_no', film_list)">Episode</a>
                <a href="#" onclick="sortBy('title', film_list)">Title</a>
                <a href="#" onclick="sortBy('director', film_list)">Director</a>
                <a href="#" onclick="sortBy('producer', film_list)">Producer</a>
                <a href="#" onclick="sortBy('release_date', film_list)">Release Date</a>
                <a><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <a><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
            </h4>
            <hr />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2 col-sm-2">
            <br>
            <h3>Characters</h3>
            <div class="checkbox">
             <label><input type="checkbox" value="">Luke Skywalker</label>
            </div>
            <div class="checkbox">
             <label><input type="checkbox" value="">R2-D2</label>
            </div>
            <div class="checkbox">
             <label><input type="checkbox" value="">Lobot</label>
            </div>

            <h3>Planets</h3>
            <div class="checkbox">
             <label><input type="checkbox" value="">Tatooine</label>
            </div>
            <div class="checkbox">
             <label><input type="checkbox" value="">Naboo</label>
            </div>
            <div class="checkbox">
             <label><input type="checkbox" value="">Bespin</label>
            </div>
          </div>
          <div class="col-lg-10 col-sm-10">
            <div id="grid_location"> </div>
          </div>
        </div>


        <div id="grid_location"> </div>

        <div class="row text-center">
          <ul class="pagination pagination-centered">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
        </div>
        {#TODO: create common stylesheet for img style width and height#}

        {% include 'footer.html' %}
    </div>
    <!-- /.container -->


    <script type="text/babel">

        var i;
        var x;
        var s;

        {% include 'sorting.jsx' %}
        {% include 'table_builder.jsx' %}

        function buildModels(list, init)
        {
            var movies = [];
            for(i = 0; i < list.length; i++)
            {
                if(init)
                {
                    list[i].id = i;
                }
                movies.push(<Film film={list[i]} />);
            }
            return movies
        }


        function Film(props){
            return (<div style={s = {padding: '100px', height: '100%',}}><div className = {"panel panel-default"} style={s = {height: '100%', width: '300px',}}><div className = {"panel-content"}>

                        <a href={"#"}>
                            <img className={"img-responsive grid-images"} src={props.film.img_url} alt={""} />
                        </a>

                        <a href={"films/"+props.film.id}><h2 className={"text-center"}>{props.film.title}</h2></a>
                        <h4 className={"text-center"}>Episode {props.film.episode_no}</h4>
                        <hr />
                        <ul className={"list-group"}>
                            <li className={"list-group-item"}>Director: {props.film.director}</li>
                            <li className={"list-group-item"}>Producers: {props.film.producer}</li>
                            <li className={"list-group-item"}>Release Date: {props.film.release_date}</li>
{#                            <li className={"list-group-item"}>Characters:#}
{#                                <RefList list={props.film.characters} reftype={"characters"} />#}
{#                            </li>#}
{#                                <li className={"list-group-item"} >Planets:#}
{#                                <RefList list={props.film.planets} reftype={"planets"} />#}
{#                            #}
{#                            </li>#}
                        </ul>

                </div></div></div>)
        }

        var film_list = JSON.parse({{films | tojson}});

        console.log(film_list);

        renderTable(buildModels(film_list, true), document.getElementById("grid_location"), 3);

    </script>

</body>

</html>
