<!DOCTYPE html>
<html lang="en">
<head>
    <!-- App global header -->
    {% include 'head.html' %}
    <title>The SWE Awakens - Home</title>
    <link href="{{ url_for('static', filename='css/home-page.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/starwars-logo.css') }}" rel="stylesheet">
</head>
<body>

  <!-- <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/6MPJGaBHoOM?controls=0&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
    </div>
  </div> -->

  <!-- Full Page Image Background Carousel Header -->
   <header id="myCarousel" class="carousel slide">
       <!-- Indicators -->
       <ol class="carousel-indicators">
           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           <li data-target="#myCarousel" data-slide-to="1"></li>
           <li data-target="#myCarousel" data-slide-to="2"></li>
       </ol>

       <!-- Wrapper for Slides -->
       <div class="carousel-inner">
           <div class="item active">

                 <div class="starwars-demo">
                    <img src="{{ url_for('static', filename='img/star.svg') }}" alt="Star" class="star">
                    <img src="{{ url_for('static', filename='img/wars.svg') }}" alt="The SWE AWAKENS" class="wars">
                    <h2 class="byline" id="byline">The SWE Awakens</h2>
                  </div>

           </div>
           <div class="item">

               <div class="starwars-demo">
                 <!-- <img src="{{ url_for('static', filename='img/star.svg') }}" alt="Star" class="star">
                 <img src="{{ url_for('static', filename='img/wars.svg') }}" alt="The SWE AWAKENS" class="wars">
                  <h2 class="byline" id="byline">Return of the SWE</h2> -->
                   <img src="{{ url_for('static', filename='img/jarjar.png') }}" alt="The SWE AWAKENS" class="wars">
                </div>

           </div>
           <div class="item">

               <div class="starwars-demo">
                 <!-- <img src="{{ url_for('static', filename='img/star.svg') }}" alt="Star" class="star">
                 <img src="{{ url_for('static', filename='img/wars.svg') }}" alt="The SWE AWAKENS" class="wars">
                  <h2 class="byline" id="byline">Revenge of the swe</h2> -->
                   <img src="{{ url_for('static', filename='img/darth.png') }}" alt="The SWE AWAKENS" class="wars">
                </div>

           </div>
       </div>

       <!-- Controls -->
       <a class="left carousel-control" href="#myCarousel" data-slide="prev">
           <span class="icon-prev"></span>
       </a>
       <a class="right carousel-control" href="#myCarousel" data-slide="next">
           <span class="icon-next"></span>
       </a>

   </header>

   <script src="{{ url_for('static', filename='js/starwars-logo.js') }}"></script>

</body>
</html>
