<!DOCTYPE html>
<html lang="en">

<head>

    <!-- App global header -->
    {% include 'head.html' %}

    <title>Star Wars - Planets</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Planets</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Sort Bar -->

        <div class="row">
          <div class="col-lg-12">
            <h4>Sort:
                <a href="#" onclick="sortBy('name', planet_list)">Name</a>
                <a href="#" onclick="sortBy('climate', planet_list)">Climate</a>
                <a href="#" onclick="sortBy('population', planet_list)">Population</a>
                <a href="#" onclick="sortBy('gravity', planet_list)">Gravity</a>
                <a href="#" onclick="sortBy('terrain', planet_list)">Terrain</a>
                <a><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <a><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
            </h4>
            <hr />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2 col-sm-2">
            <br>
            <h3>Residents</h3>
            <div class="checkbox">
             <label><input type="checkbox" value="">Luke Skywalker</label>
            </div>
            <div class="checkbox">
             <label><input type="checkbox" value="">R2-D2</label>
            </div>
            <div class="checkbox">
             <label><input type="checkbox" value="">Lobot</label>
            </div>

            <h3>Films</h3>
            <div class="checkbox">
             <label><input type="checkbox" value="">A New Hope</label>
            </div>
            <div class="checkbox">
             <label><input type="checkbox" value="">Return of the Jedi</label>
            </div>
            <div class="checkbox">
             <label><input type="checkbox" value="">The Empire Strikes Bac</label>
            </div>
          </div>
          <div class="col-lg-10 col-sm-10">
            <div id="grid_location"> </div>
          </div>
        </div>

        {#TODO: create common stylesheet for img style width and height#}

        <div class="row text-center">
          <ul class="pagination pagination-centered">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
        </div>
        {% include 'footer.html' %}

    </div>
    <!-- /.container -->


    <script type="text/babel">

        var i;
        var x;
        var s;

        {% include 'sorting.jsx' %}
        {% include 'table_builder.jsx' %}

        function buildModels(list, init)
        {
            var planets = [];
            for(i = 0; i < list.length; i++)
            {
                if(init)
                {
                    list[i].id = i;
                }
                planets.push(<Planet planet={list[i]} />);
            }
            return planets
        }

        function Planet(props){
        return (<div style={s = {padding: '100px', height: '100%',}}><div className = {"panel panel-default"} style={s = {height: '100%', width: '300px',}}><div className = {"panel-content"}>

                    <a href={"#"}>
                        <img className={"img-responsive grid-images"} src={props.planet.img_url} alt={""} />
                    </a>

                    <a href={"/planets/"+props.planet.id}><h2 className={"text-center"}>{props.planet.name}</h2></a>
                    <ul className={"list-group"}>
                      <li className={"list-group-item"}>Climate: {props.planet.climate} </li>
                      <li className={"list-group-item"}>Population: {props.planet.population}</li>
                      <li className={"list-group-item"}>Gravity: {props.planet.gravity}</li>
                      <li className={"list-group-item"}>Terrain: {props.planet.terrain}</li>
{#                      <li className={"list-group-item"}>Residents:#}
{#                        <RefList list={props.planet.characters} reftype={"characters"} />#}
{#                      </li>#}
{#                      <li className={"list-group-item"}>Films:#}
{#                        <RefList list={props.planet.films} reftype={"films"} />#}
{#                      </li>#}
                    </ul>


            </div></div></div>)
        }

        var planet_list = JSON.parse({{planets | tojson}});

        console.log(planet_list);

        renderTable(buildModels(planet_list, true), document.getElementById("grid_location"), 3);


    </script>

</body>

</html>
